 .yesBtn{
          background-color: #3C342E;
          padding: 5px 10px;
          border-radius: 4px;
          cursor: pointer;
          border:none;
          color:white;
          
          
        }
 .closeBtn{
          background-color: #3C342E;
          padding: 5px 10px;
          border-radius: 4px;
          border:none;
          cursor: pointer;
          color:white;
          font-family: 'Nanum Gothic', sans-serif;
         
        }

        .modal {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .modal .bg {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
        }

        .modalBox {
          position: absolute;
          background-color:#E0E1D6;
          width: 400px;
          height: 100px;
          padding: 15px;
          text-align:center;
          font-family: 'Nanum Gothic', sans-serif;
          border-radius: 6px;
          
        }

        .modalBox button {
          display: inlint-block;
          width: 80px;
          margin: 0 auto;
        }

        .hidden {
          display: none;
        }
        

.yesBtn2{
          background-color: #3C342E;
          padding: 5px 10px;
          border-radius: 4px;
          cursor: pointer;
          border:none;
          color:white;
          
          
        }
        .closeBtn2{
          background-color: #3C342E;
          padding: 5px 10px;
          border-radius: 4px;
          border:none;
          cursor: pointer;
          color:white;
          font-family: 'Nanum Gothic', sans-serif;
         
        }
 
        .modal2 {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .modal2 .bg2 {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
        }

        

        .hidden {
          display: none;
        }